<!DOCTYPE html>
[%
  INCLUDE 'include/doc-head-copyright.inc.tt2'
  author_year='2025'
  author_name='Chaos Theory'
%]
[% INCLUDE 'include/doc-head-start.inc.tt2' %]
<base href="/">
[%
  INCLUDE 'include/doc-head-close.inc.tt2'
  id="mainpage"
  class=""
%]

<div id="loading">
    <div class="dialog">Loading . . . </div>
</div>

<nav>
    <img id="rail-logo" src="res/vectors/rail-icon.svg" />
    <h1 id="headline">&nbsp;</h1>
</nav>

<main></main>

<footer>
    <div style="visibility:hidden">
        <span id="incident"></span>
    </div>
    <div>
        <span id="clock">&nbsp;</span>
    </div>
</footer>

[% INCLUDE 'include/doc-body-scripts.inc.tt2' %]
<script type="module">
    import API from './include/js/rail/tiger-api.mjs';
    import Clock from './include/js/clock.mjs';
    import Rail from './include/js/rail/main.mjs';

    const api = new API({ jquery: jQuery, tiploc_id: '[% tiploc_id %]' });
    api.init();

    const clock = new Clock({ jquery: jQuery, hideSecs: '[% hide_secs %]' });
    clock.init();

    const rail = new Rail({ api: api, jquery: jQuery });
    rail.init();
    setInterval(
        (() => {
            if (rail.checkRefresh() === true)
                return rail.build();
            return;
        }),
        950
    );
</script>
[% INCLUDE 'include/doc-body-close.inc.tt2' %]
