<!DOCTYPE html>
[%
  INCLUDE 'include/doc-head-copyright.inc.tt2'
  author_year='2025'
  author_name='Chaos Theory'
%]
[%
  INCLUDE 'include/doc-head-start.inc.tt2'
  title="$title"
%]
[%
  INCLUDE 'include/doc-head-close.inc.tt2'
  id="mainpage"
  class=""
%]

<nav>
    <h1 id="headline">400 &ndash; Bad Request</h1>
</nav>

<main>
    <div id="search">
        <input name="input" class="input" type="text" placeholder="Enter station / stop name, and press Return" />
    </div>
</main>

<footer>
    <div style="visibility:hidden">
        <span id="incident"></span>
    </div>
    <div>
        <span id="clock">&nbsp;</span>
    </div>
</footer>

[% INCLUDE 'include/doc-body-scripts.inc.tt2' %]
<script type="module">
    import Clock from '/include/js/clock.mjs';

    const clock = new Clock({ jquery: jQuery });
    clock.init();
</script>
<script>
    \$('input[name="input"]').first()
    .on('keyup', event => {
        if (event.key === "Enter")
            window.location.href = '/bus/citybus/' + \$('input[name="input"]').first().val();
    });
</script>
[% INCLUDE 'include/doc-body-close.inc.tt2' %]
